{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old-password" placeholder="Old password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="newpassword" placeholder="New password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirm_password" placeholder="Confirm password" type="password" required>
        </div>

        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}